/* stylelint-disable max-line-length */

/* Owners - Heading font */
@font-face {
  font-family: Owners;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/owners-medium.woff2') format('woff2');
}

/* Owners Text - Body font */
@font-face {
  font-family: 'Owners Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/owners-text-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Owners Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/owners-text-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Owners Text';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/owners-text-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Owners Text';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/owners-text-medium-italic.woff2') format('woff2');
}

/* Phonic - Monospaced accent font (specs, labels) */
@font-face {
  font-family: Phonic;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/phonic-monospaced-regular.woff2') format('woff2');
}
